*{
    padding: 0;
    margin: 0;

}
.r1{

}
.toggler-icon{
    width: 30px;
    height: 3px;
    background-color:#f0ad4e;
    display: block;
    transition: all 0.2s;
}
.middle-bar{
    margin: 5px;
}